.sidenav {
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFC516;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
  }
  
  .sidenav a:hover {
    color: white;
  }
  
  .main {
    margin-left: 160px;
    font-size: 28px;
    padding: 0px 10px;
  }

  button{
    background-color: skyblue;
    height: 50px;
    width: 130px;
    padding:0px 15px;
  }

.remove-underline{
    font-size: 22px;
}
  
.remove-underline:hover{
    text-decoration: none;
    transform: scale(1.1);
}

.go-back-div{
    opacity: .5;
}

.go-back-div:hover{
    opacity: 1;
    transform: scale(1);
}

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .hello{
    display: flex;
    justify-content: center;
    align-items: center;
  }